body{
  background-image: url(http://momoirocode.web.fc2.com/backtatami2.jpg);
}

div{
  width: 100%;
  text-align: center;
}
img {
width: 70%;
}

a {
 color: blue;
 text-decoration: underline;
}

.dock-button{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /*z-index: 100;*/
}

figcaption{
  background-color: white;
}
