body{
  background-image: url(http://momoirocode.web.fc2.com/backtatami2.jpg);
}

div{
  width: 100%;
  text-align: center;
}
div#view{
  z-index: 0;
}
div.mocode-header{
  z-index: 10;
  font-size: 50px;
  padding-bottom: 0%;
}
img {
width: 100%;
}
img.mocode-header{
height: 80px;
width: auto;
}

a {
 color: blue;
 text-decoration: underline;
}

.dock-button{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.w3-sidebar{
  z-index: 20;
}

figcaption{
  background-color: white;
}
